/* 
ALSO CALLED DESCENDANT COMBINATOR
https://developer.mozilla.org/en-US/docs/Web/CSS/Descendant_combinator 
*/

.main-header span {
    color: white;
    font-size: 26px;
  }
  
  ol li {
    background-color: tomato;
    color: white;
    margin-bottom: 5px;
  }