
/* 
https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes
*/

a:link {
    color: orange;
  }
  
  a:visited {
    color: lightblue;
  }
  
  a:hover {
    color: forestgreen;
  }
  
  p:hover {
    color: firebrick;
  }
  
  a:active {
    color: lightcoral;
  }
  
  a:focus{
    color: white;
    background-color: orange;
  }
  
  /* Any button over which the user's pointer is hovering */
  button:hover {
    color: blue;
  }